.join_tab{
    height: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 6rem auto ;
    align-items: start;
    width: 100%;
    background: #393E46;
}

.join_imageContainer{
    width:100%;
    justify-self: center;
    align-self: center;
}

.join_imageContainer img{
    border-radius: 10px;
    width: 70%;
    min-width: 10rem;
}

.join_title{
    background-color: #3d434c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    justify-items: center;
}

.join_title h2{
    color: #d4cfcf;
    font-family: 'Nunito', sans-serif;
    justify-self: start;
}

.join_tab form{
    display: grid;
    grid-row-gap: 1rem;
    padding: 0.5rem;
}

.join_form label{
    font-family: 'Karla', sans-serif;
    color: #ee4c74;
    justify-self: start;
    font-size: 1.5rem;
}


.join_form input {
    font-size: 1rem;
    background-color: #393E46 ;
    border: 0;
    color: #d4cfcf;
    font-family: 'Karla', sans-serif;
    border-bottom: 2px solid #ee4c74;
    outline: none;
}

.join_form input:hover,
.join_form input:active{
    background-color: #3d434c;
}

.join_form button{
    background-color: #e24870;
    border: 0;
    width: 50%;
    justify-self: center;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}
