.profile_tab{
    position: absolute;
    background-color: #393e46;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15%  auto;
    align-items: start;

}

.profile_imageContainer{
    justify-self: center;
    align-self: center;
    width: 10rem;
    height: 10rem;
}

.profile_tab .profile_title{
    background-color: #3d434c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    justify-items: center;
}

.profile_title h1{
    color: #d4cfcf;
    font-family: 'Nunito', sans-serif;
}

.profile_tab form{
    display: grid;
    grid-row-gap: 1rem;
    padding: 0.5rem;
}

.profile_form label{
    font-family: 'Karla', sans-serif;
    color: #ee4c74;
    justify-self: start;
    font-size: 1.5rem;
}

.profile_form input {
    font-size: 1rem;
    background-color: #393E46 ;
    border: 0;
    color: #d4cfcf;
    font-family: 'Karla', sans-serif;
}

.profile_form input:hover,
.profile_form input:active{
    border-bottom: 2px solid #ee4c74;
}

.profile_form input:focus{
    outline: none;
}

.profile_form button{
    background-color: #d04367;
    border: 0;
    width: 50%;
    justify-self: center;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.profile_form button:hover {
    background-color: #ee4c74;
    cursor: pointer;
}


.profile_imageContainer img {
    border-radius: 50% ;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}


